/*body {*/
    /*background: red !important;*/
/*}*/
.button-0-mobile{
    font-size: 24px !important;
    width: 150px !important;
    height: 150px !important;
}

#page-selector-home-page{
    left: -200px !important;
    top: -20px !important;
}
#page-selector-home-page:hover{
    left: -200px !important;
}

#page-selector-about-page{
    left: -50px !important;
    top: -20px !important;
}
#page-selector-about-page:hover{
    left: -50px !important;
}
#page-selector-projects-page{
    left: 100px !important;
    top: -20px !important;
}
#page-selector-projects-page:hover{
    left: 100px !important;
}

#page-selector-contact-page{
    left: 250px !important;
    top: -20px !important;
}
#page-selector-contact-page:hover{
    left: 250px !important;
}

h1{
    font-size: 50px !important;
}
h6{
    font-size: 20px !important;
}

.project-elm-mobile{
    width: 700px !important;
    max-width: calc(80% - 150px - 25px) !important;
    font-size: 30px !important;
}


#welcome-text-container{
    top: 175px !important;
}

#welcome-subtext-container {
    top: 275px !important;
}
#main-image-front-page{
    top: 350px !important;
}

#abt-cont-1{
    top: 250px !important;
    font-size: 35px !important;
}

#projects-cont-1{
    font-size: 35px !important;
}

.img{
    width: 100% !important;
}