.bar{
	border-bottom: 6px solid red;
    background-color: lightgrey;
	height: 30px;
	padding: 15px;
	position: relative;
}
.button{
	border: double;
	width: 120px;
	height: 20px;
	background: #999999;
	text-align: center;
}
.button-hover{
	border: double;
	width: 120px;
	height: 20px;
	background: #555555;
	text-align: center;
}

#p-300{
	padding-top: 50px;
    padding-right: 300px;
    padding-bottom: 50px;
    padding-left: 300px;
	text-align: center;
}

.BG{
	background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(grey, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, white); /* Standard syntax */
}

#pageBG{
	width: 100%;
	height: 100%;
	border: 2px solid black;
}

.line-2px{
	border-bottom: 2px solid black;
}
.line-1px{
	border-bottom: 1px solid black;
}
.line-5px{
	border-bottom: 5px solid black;
}
a{
	color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#p1{
	position: absolute;
    top: 15px;
    right: 75%;
}
#p2{
	position: absolute;
    top: 15px;
    right: 55%;
}
#p3{
	position: absolute;
    top: 15px;
    right: 35%;
}
#p4{
	position: absolute;
    top: 15px;
    right: 15%;
}
